# If you use this repository as a template, this organization and group will most likely be ignored. 
# You can add a group / person which makes sense in your context (but not super-important)

* @InsuranceTechnologySolutions/grey